<section class="hero is-info is-fullheight">
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">           
            <span class="navbar-burger burger" data-target="navbarMenuHeroB">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenuHeroB" class="navbar-menu">
            <div class="navbar-end">             
            </div>
          </div>
        </div>
      </nav>
    </div>
  
    <div class="hero-body">
      <div class="container has-text-centered">
       <h1>Todays Birthdays</h1>
      </div>
    </div>
  
    <div class="hero-foot">
      <nav class="tabs is-boxed is-fullwidth">
        <div class="container">
          <ul>
            <li>
              <a>All Birthdays</a>
            </li>
            <li class="is-active">
              <a>Todays Birthdays</a>
            </li>            
          </ul>
        </div>
      </nav>
    </div>
  </section>